body {
    background-color: rgb(206, 34, 120);
}

.puntaje {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    background-color: rgb(172, 172, 169);
    width: 50px;
    height: 45px;
    cursor: pointer;
    -webkit-mask-image: url("../img/estrella.svg");
    mask-image: url("../img/estrella.svg");
}

/* .item:hover {
    background-color: rgb(247, 252, 0);
} */

.item.select {
    background-color: rgb(247, 252, 0);
}

